openapi: 3.1.0
info:
  title: Google Cloud Kubernetes Engine Google Kubernetes Engine Clusters NodePools API
  description: Builds and manages container-based applications, powered by the open source Kubernetes technology.
  version: 1.0.0
  contact:
    name: Google Cloud
    url: https://cloud.google.com/kubernetes-engine
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://container.googleapis.com/v1
  description: Google Kubernetes Engine API v1
security:
- oauth2:
  - https://www.googleapis.com/auth/cloud-platform
tags:
- name: NodePools
  description: Manage node pools within clusters
paths:
  /projects/{projectId}/locations/{location}/clusters/{clusterId}/nodePools:
    get:
      operationId: listNodePools
      summary: Google Cloud Kubernetes Engine List Node Pools
      description: Lists the node pools for a cluster.
      tags:
      - NodePools
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: clusterId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  nodePools:
                    type: array
                    items:
                      $ref: '#/components/schemas/NodePool'
    post:
      operationId: createNodePool
      summary: Google Cloud Kubernetes Engine Create Node Pool
      description: Creates a node pool for a cluster.
      tags:
      - NodePools
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: clusterId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nodePool:
                  $ref: '#/components/schemas/NodePool'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
components:
  schemas:
    NodePool:
      type: object
      properties:
        name:
          type: string
        config:
          type: object
          properties:
            machineType:
              type: string
            diskSizeGb:
              type: integer
            imageType:
              type: string
        initialNodeCount:
          type: integer
        autoscaling:
          type: object
          properties:
            enabled:
              type: boolean
            minNodeCount:
              type: integer
            maxNodeCount:
              type: integer
        status:
          type: string
        version:
          type: string
    Operation:
      type: object
      properties:
        name:
          type: string
        operationType:
          type: string
        status:
          type: string
        selfLink:
          type: string
        targetLink:
          type: string
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform
